* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #fff;
    color: #333;
    text-align: center;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.navbar h1 {
    font-size: 24px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.intro {
    margin: 50px 0;
    font-size: 24px;
}
.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 50px; /* Optional */
    padding: 20px;
    background-color: #000;
    color: #fff;
}